---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import MissionWindow from '../components/MissionWindow.astro';
import ImpactStats from '../components/ImpactStats.astro';
import LatestStories from '../components/LatestStories.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<main class="w-full">
		<Header />
		<Hero />
		<MissionWindow />
        <ImpactStats />
        <LatestStories />
	</main>
    <Footer />
</Layout>
